body {
	margin: 0px;
	background-color: #3242a8;
	background-image: url("https://images.squarespace-cdn.com/content/v1/54d15998e4b0553df778d21d/1587410706320-FWQ3NAYEL6KNVYIGKA8Y/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UbeDbaZv1s3QfpIA4TYnL5Qao8BosUKjCVjCf8TKewJIH3bqxw7fF48mhrq5Ulr0Hg/PixelPro+Animated+Background+5.png?format=2500w");
	background-attachment: fixed;
}

h2 {
	color: #d34242;
}
